@charset "UTF-8";


@media screen and (min-width:768px) and (max-width:992px){
    main{
       
        
        border-radius: 10px;
        width: 98vw;
        height: ;

        
    }
    main > img{
        width: 98vw;
        height: 100vh;
    }
  
}